[project]
	description = my Poc
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SekharMohan
[access "refs/for/refs/*"]
	read = group user/SekharMohan
	push = group user/SekharMohan
	label-Code-Review = -2..+2 group user/SekharMohan
	label-Verified = -1..+1 group user/SekharMohan
	rebase = group user/SekharMohan
	removeReviewer = group user/SekharMohan
	submit = group user/SekharMohan
[access "refs/heads/*"]
	read = group user/SekharMohan
	create = group user/SekharMohan
	push = +force group user/SekharMohan
	pushMerge = group user/SekharMohan
[access "refs/tags/*"]
	push = group user/SekharMohan
	push = +force group user/SekharMohan
